#content2{
    background-color: #f9f5f5;
    width: 320px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 47px;
}

#con-header{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 30px;
}
#con-header div{
    text-align: right;
}
#con-header h4{
    font-weight: 600;
    font-size: 15.5px;
    color: #5a5a5d;
}
#con-header p{
    font-weight: 600;
    font-size: 12px;
    color: #BEBFB5;
}
#con-header img{
    width: 40px;
    margin-left: 20px;
}

#con-footer #f-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    /* margin-left: 25px;
    margin-right: 20px; */
}
#f-header h3{
     font-size: 20.3px;
     font-weight: 600;
     color: #6c69ad;
}
#f-header span{
    font-size: 14.5px;
    font-weight: 600;
    color: #7B7B81;
}
.f-main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}
.f-main p{
    text-align: left;
    font-size: 12.2px;
    font-weight: 600;
    margin-top: 5px;
    color: #BEBFB5; 
}
.f-main .f-footer i{
    text-align: end;
    margin-left: 70px;
    font-size: 10px;
    color: #9592DE;
}
.f-user h5{
    font-size: 13.7px;
    font-weight: 600;
    color: #5a5a5d;
}
.f-main img{
    width: 45px;
    height: 45px;
    margin-right: 20px;
}
#calendar{
    margin-top: 30px;
}
